<h2>Name: <%= @user.name %></h2>
<h2>Alias: <%= @user.alias %></h2>
<h2>Email: <%= @user.email %></h2>
<br>
<br>
<hr>
<br>
<br>
<p>Total number of Ideas: <%= @idea_count %></p>
<p>Total number of Likes: <%= @like_count %></p>